.container-cadastroForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 20rem;
    
 
}

.form {
    display:  grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
}

.container-cadastroForm form input{
    
    margin-bottom: 5px;
    width: 20rem;
    border-radius: 20px;
    border: none;
    
}

.button {
    
    background-color: rgb(104, 129, 129);
    border: none;
    box-shadow: 3px 4px #44438a62;
    padding: 10px;
    border-radius: 20px;
    width: 10rem;
    transition: 1s;
}
.button:hover {
    background: linear-gradient(90deg, rgba(0,255,229,1) 0%, rgba(9,121,77,1) 100%);
    box-shadow: 3px 4px #44438a62;
    color: black;
    
}




  
