.container {
    padding: 20px;
    width: 100%;


    
}
.mt-4 {
    font-weight: 700;
    padding: 15px;
}
.titulo-guia {
    padding: 20px;
    width: 70rem;


    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(68, 68, 68);
}
