.head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    color: rgb(68, 68, 68);
}
.mt-4 {
    font-weight: 700;
    padding: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    
}

.titulo-guia {
    padding: 20px;
    width: 80%;
   

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(68, 68, 68);
}



.footer {
    height: 40px; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    

    color: rgb(68, 68, 68);
}
.texto-footer {
    display: flex;
    text-align: center;
    justify-content: space-around;

}