*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    background: radial-gradient(circle, rgba(174,217,238,1) 0%, rgba(167,148,233,1) 100%);
}